{% extends "base.html" %}
{% block content %}
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups" id="connect-toolbar">
      <form>
        <div class="input-group">
          <input type="search" name="q" class="form-control rounded btn-sm" placeholder="Search for a user or email..." aria-label="Search"
          aria-describedby="search-addon">
          <button type="submit" class="btn btn-outline-dark btn-sm">Search</button>
        </div>
      </form>
      
      <div class="btn-group" role="group" aria-label="First group">
        <a class="btn btn-success btn-sm" href="{{ url_for('new_post') }}">Add Post</a>
      </div>
    </div>


    <!-- here we show the results on the search -->
    {% if customers %}
      {% for customer in customers %}
          <article class="media content-section mb-1 mt-1">
            
            <div class="media-body">
              <div class="article-metadata">
                <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/profile_pics/' + customer.image_file) }}">
                <large class="search-username">{{customer.username  }}</large>
                <small class="text-muted">/ {{customer.email }}</small>
                <a class="mr-2 btn btn-info btn-sm pull-right" href="{{ url_for('user_posts', username=customer.username) }}">View Profile</a>

              </div>
            </div>
          </article>
      {% endfor %}
  
    <!-- otherwise we show the posts of the customer's friends -->
    {% else %}
      {% for post in posts.items %}
          <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='images/profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
              </div>
              <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
              <p class="article-content">{{ post.content }}</p>
            </div>
          </article>
      {% endfor %}
      {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
          {% if posts.page == page_num %}
            <a class="btn btn-secondary mb-4 bg-steel" href="{{ url_for('connect', page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-secondary mb-4 bg-steel" href="{{ url_for('connect', page=page_num) }}">{{ page_num }}</a>
          {% endif %}
        {% else %}
          ...
        {% endif %}
      {% endfor %}
    {% endif %}
{% endblock content %}

{% block sidebar %}
<div class="content-section">
  <div style="text-align: center">
    <h3>{{username}}</h3>
    <h6>{% if post_count > 0 %}{{ post_count }}{% else %}No{% endif %} posts</h6>
  </div>
  <hr>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active connect-option">
      All Activity
      <i class="fa fa-users"></i>
    </a>
    <a href="#" class="list-group-item list-group-item-action connect-option">
      Your Posts
      <i class="fa fa-pencil-square-o"></i>
    </a>
    <a href="#" class="list-group-item list-group-item-action connect-option">
      Your Comments
      <i class="fa fa-commenting-o"></i>
    </a>
    <a href="#" class="list-group-item list-group-item-action connect-option">
      Social Preferences
      <i class="fa fa-sliders"></i>
    </a>
    <a href="#" class="list-group-item list-group-item-action disabled connect-option" tabindex="-1" aria-disabled="true">
      Report
      <i class="fa fa-flag"></i>
    </a>
  </div>
</div>
{% endblock %}