<!-- all customer pages will extend this file -->
{% extends "base.html" %}
<!-- all customer pages content will be inserted here (or where neccessary)-->
{% block content %}
<div class="d-flex justify-content-center">
  <div class="btn-group btn-group-lg" role="group" aria-label="Dashboard selection">
    <a href="{{ url_for( 'create_session' ) }}" class="btn btn-secondary bg-steel">
      <i class="fa fa-plus-circle"></i><br/>New Session
    </a>
    <a href="{{ url_for( 'session_list' ) }}" class="btn btn-secondary bg-steel">
      <i class="fa fa-list-alt"></i><br/>Session List
    </a>
    <a href="{{ url_for( 'session_history' ) }}" class="btn btn-secondary bg-steel"><i class="fa fa-history"></i><br/>Session History</a>
    <a href="{{ url_for( 'statistics' ) }}" class="btn btn-secondary bg-steel"><i class="fa fa-bar-chart" aria-hidden="true"></i><br/>Statistics</a>
  </div>
</div>
<br/>
{% if next_ses %}
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
        <h5>Next scheduled session</h5>
        Your next session, {{ next_ses.name }}, is scheduled for {{ next_ses.date.strftime("%m/%d/%Y") }}.
      </div>
      <div>
        <a href="{{ url_for( 'view_session', session_id = next_ses.id ) }}" class="btn btn-lg btn-secondary bg-steel"><i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Start</a>
      </div>
    </div>
  </div>
</div>
<br/>
{% endif %}
{% endblock %}
{% block sidebar %}
<div class="content-section">
  <h3 class="d-flex justify-content-center">Hey there, {{username}}!</h3>
  <hr>
  <div class="list-group">
    <!-- <a href="#" class="list-group-item list-group-item-action connect-option">
      Account Settings
      <i class="fa fa-sliders"></i>
    </a> -->
    <a href="{{ url_for('logout') }}" class="list-group-item list-group-item-action connect-option">
      Log Out
      <i class="fa fa-sign-out"></i>
    </a>
  </div>
</div>
{% endblock %}